<!doctype html>
<html amp>
  <head>

    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>

    <title><%= Rails.application.class.parent %></title>

    <link rel="canonical" href="<%= request.original_url %>" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <%= csrf_meta_tags %>


    <!-- AMP Resources -->
    <!-- Go to "app/views/application/_amp.html" to customize AMP and add tags like `twitter_tag` or `iframe_tag`! -->
    <%= render "amp" %>


    <!-- AMP Custom styles -->
    <!-- Use <% amp_css do %> div { color: black } ... <% end %> to add specific styles to your view -->

    <!-- DO NOT use any other external stylesheets or style tags! -->
    <!-- Learn more about format restrictions in CSS: https://www.ampproject.org/docs/guides/author-develop/responsive/style_pages -->

    <style amp-custom><%= yield :css %>
        /* Global styles */
    </style>


  </head>

  <body>
    <%= yield %>
  </body>

</html>
